<div class="tablecss">
    <div class="row">
        <div class="col-sm-7">
            <div>
                After 26 years of experience, serving as priest in various religious centers, <br /><b class="text-color">SRI RAMESH KUMAR SHARMA VYAS ( VRKSharma )</b> started a free lancing pooja service.<br /><br />
                He established an organization by name <b class="text-color"><i>SRI SAI VEDA GAYATRHI POOJA SERVICES</i></b>, which is dedicated to perform various Poojas, Hindu Rituals, Vedic Religious or Spiritual Ceremonies, Astrology, Palmistry & Vastu Astrology with Kundali as well as all kinds of other Hindu Religious services for all occasions.<br /><br />
                <b>Sri Sai Veda Gaythri Pooja Services</b> also extended it's services into @Html.ActionLink("SaiPalkhi", "Links", "Home") Seva, in whihc he believes in spreading Sri Sai Baba words.<br /><br />
                He is a Multi-lingual and has a good command into <b class="text-color">Telugu, Hindi, Gujarati, English</b> (<i> Read,Write,Speak </i>) and <b class="text-color">Sanskrit</b>( <i>Read </i>). 
                Many devotees complimented him, for his good voice which he feels as <b class="text-color">GOD'S Gift</b><br /><br />
                Click here to @Html.ActionLink("Contact", "Contact", "Home") VRKSharma
            </div>
        </div>
        <div class="col-sm-5 well cardcss">
            <div><img src="@Url.Content("~/Images/Sharmaji/13.jpg")" class="img-responsive img-rounded" alt="sharmaji"></div><br />
            <div >
                <b>RAMESH KUMAR SHARMA VYAS</b><br />
                <i>
                    <b>
                        <span class="glyphicon glyphicon-home"> 2325, STOUGHTON CIR, AURORA, IL-60502</span> <br />
                        <span class="glyphicon glyphicon-phone"> (630)247-0173</span> <br />
                        <span class="glyphicon glyphicon-phone"> (630)299-0312</span><br />
                        <span class="glyphicon glyphicon-phone-alt"> (630)999-2214</span><br />
                        <span class="glyphicon glyphicon-envelope"><a href="mailto:vrksharma@sripooja.com"> <b class="text-danger">vrksharma@sripooja.com</b></a></span>
                    </b>
                </i>
            </div>
        </div>
    </div>

    <hr />
    <h1 class="text-danger">Education:</h1><br />
    <b class="text-color">VRKSharma </b>ji, scholored from <b class="text-color">Sri Laxmi Narashimha Swamy Sanskrit Vidya Peetham</b>, Yadagirigutta (Now as <b class="text-color">SLN VIDYA Peetham</b>), after doing his basic education. Hounoured by imparting Vedic Divine Knolwledge of religious <b class="text-color">Rituals, Astrology, Vedas, Puranas, Srimad Bhagwat Gita, Ramayana and Upanishad's, Chandi Parayana</b> from variuos Vedic Teaachers..
    <hr />
    <h1 class="text-danger">
        Experience:
    </h1><br />
    <b class="text-color">Shri Shirdi Sai Baba Mandir Chicago  </b>[Apr'05 - Feb'11] <br />  Sai Samsthan USA <br />  1101 Foran Lane, Aurora, IL, 60506 <br /><br />
    <b class="text-color">The Hindu Temple of Greater Chicago</b>[Jan'06 - Jun'06] <br /> Lemont Srhi Rama Temple USA<br /> 10915 Lemont Road, Lemont, IL, 60439<br /><br />
    <b class="text-color">FilmNagar Daiva Sannidhanam</b>[Apr'03 - Jan'05]<br />Ayyappa Swamy Sannidhi Temple<br />JubliHills, Hyderabad<br /><br />
    <b class="text-color">Sri Sairam Devasthanam</b>[Jun'97 - Jan'03]<br /> V.R. Nagar Colony, S.R. Nagar, Hyderabad.<br /><br />
    <b class="text-color">Sri Shirdi Saibaba Mandiram </b>[Jun'94 - May'97]<br />KPHB Colony, Hyderabad<br /><br />
    <b class="text-color">Sri Sai Temple MRF Quarter's</b>[May'93 - Jan94]<br />Sadashivampet, Medak<br /><br />
    <b class="text-color">Sri Shirdi Saibaba Temple</b>[Jul'92 - Mar'93]<br />Beerumguda, RC Puram<br /><br />
    <b class="text-color">Sri Anjaneya Swamy Temple</b>[Feb'91 - Jun'92]<br />Mahaboobnagar, TG<br /><br />
</div>
