<h5>
    <table class=" well table table-hover tablecss">
        <tr class="row col-3">
            <th class="col-sm-5">
                Your Requirement
            </th>
            <th class="col-sm-7">
                Suggested Puja's
            </th>
        </tr>
        <tr class="row col-1">
            <td class="col-sm-5">General Progress & Prosperity</td>
            <td class="col-sm-7">
                Ekadasa Rudrabhishekam<br />
                Chandi Homam
            </td>
        </tr>
        <tr class="row col-2">
            <td class="col-sm-5">Health Related Need's</td>
            <td class="col-sm-7">
                Maha Mritunjaya Homam<br />
                Maha Dhanavantri Homam<br />
                Maha Rudrabhishekam<br />
                Ekadasa Rudram
            </td>
        </tr>
        <tr class="row col-3">
            <td class="col-sm-5">
                Wealth Related Need's
            </td>
            <td class="col-sm-7">
                Aishwarya Maha Lakshmi Homam<br />
                Aishwarya Maha Ganapati Homam
            </td>
        </tr>
        <tr class="row col-1">
            <td class="col-sm-5">Business Related Need's</td>
            <td class="col-sm-7">
                Maha Dhana Lakshmi Homam<br />
                Karyasiddhi Ganapati Homam
            </td>
        </tr>
        <tr class="row col-2">
            <td class="col-sm-5">
                Conceiving - Children<br />
                Santhaana Prapthi
            </td>
            <td class="col-sm-7">
                Santhaana Gopala Homam<br />
                Santhaana Lakshmi Homam<br />
                Santhaana Parameswara Homam
            </td>
        </tr>
        <tr class="row col-3">
            <td class="col-sm-5">Education related Need's</td>
            <td class="col-sm-7">
                Vidhya Ganapati Homam & Pooja<br />
                Maha Saraswati Homam & Pooja<br />
                Vidya Lakshmi Homam & <br />
                Hayagreeva & Veda Guru Puja
            </td>
        </tr>
        <tr class="row col-1">
            <td class="col-sm-5">Any All Other Education Need's</td>
            <td class="col-sm-7">Saraswati Puja</td>
        </tr>
        <tr class="row col-2">
            <td class="col-sm-5">
                Love & Marriage Problem's<br />
                Marital Problems
            </td>
            <td class="col-sm-7">
                Swayamvara Parvathi Homam<br />
                Mangala Gauri Puja
            </td>
        </tr>
        <tr class="row col-3">
            <td class="col-sm-5">Shirdi Saibaba Pooja</td>
            <td class="col-sm-7">
                Nava Guruvaara Vratam<br />
                <b>( 9 thursday Spl Pooja )</b><br />
                Sai Satya Vratam Pooja
            </td>
        </tr>
        <tr class="row col-1">
            <td class="col-sm-5">
                Success in Any Job<br />
                Other Job Problem's
            </td>
            <td class="col-sm-7">
                Maha Ganesha Homam<br />
                Vijaya Lakshmi Homam
            </td>
        </tr>
        <tr class="row col-2">
            <td class="col-sm-5">To Clear Any Obstacles Any Problem's</td>
            <td class="col-sm-7">Sankata Hara Maha Ganesha Vrat</td>
        </tr>
        <tr class="row col-3">
            <td class="col-sm-5">
                Any Court Case Any Success<br />
                Litigation-Disputes
            </td>
            <td class="col-sm-7">
                Nava Chandi Pooja Homam<br />
                Maha Vijaya Lakshmi Pooja Homam
            </td>
        </tr>
        <tr class="row col-1">
            <td class="col-sm-5">
                Birth Chart Dosha Nivaran<br />
                (Janma Kundli - Janma Patrika)
            </td>
            <td class="col-sm-7">
                Maha Nyasa Poorvaka<br />
                Ekadasa Rudrabhishekam
            </td>
        </tr>
        <tr class="row col-2">
            <td class="col-sm-5">
                Mangala Dosha<br />
                Manglik Dosha<br />
                Kuja Dosha Nivarana
            </td>
            <td class="col-sm-7">Angaraka Graha Shanti Homam</td>
        </tr>
        <tr class="row col-3">
            <td class="col-sm-5">Gruha pravesham New House</td>
            <td class="col-sm-7">Vasthu Pooja Homam</td>
        </tr>
        <tr class="row col-1">
            <td class="col-sm-5">Any Good Success</td>
            <td class="col-sm-7">Satya Narayana Vratam</td>
        </tr>
    </table>
</h5>